<!-- footer -->
<footer>
    <div id="footer">
        <h3 class="title textShadow">Om oss</h3>
        <p class="paragraph">Vi hos Baker Jacobsen jobber med å lage de beste utvalgene av produkter for baking mulig. Her finner du alt fra oppskrifter til kjøkkenutstyr, med gode priser til hvert produkt.</p>
        <p class="paragraph">6666 6666 6666 MVA</p>
        <p class="paragraph">Epost:   aksel4455@gmail.com</p>
        <p class="paragraph">Telefon: 123 44 321</p>
        <p class="paragraph">Github:  <a class="footerLink" href="https://github.com/Akselja?tab=repositories">github.com/Akselja</a></p>
    </div>
</footer>