<header>
    <!-- navbar -->
    <nav id="nav" class="navFixed">
        <a href="/"><h2 aria-hidden="true" class="title textShadow">Baker Jacobsen</h2></a>
        
        <a class="buttonAnchor" href="/products"><button aria-hidden="true" class="navButton">Produkter</button></a>

        <a class="buttonAnchor" href="/login"><button aria-hidden="true" class="navButton">Logg Inn</button></a>

        <a class="buttonAnchor" href="/cart"><img class="cartImg" src="/img/cartIcon.png" alt=""><div class="cartNotification">9</div></a>

        <label class="searchLabel" for="search">Søk:</label>
        <input type="text" name="search" id="search">
    </nav>
    <div class="navPlaceholder"></div>
</header>