<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">

    <title>404 NOT FOUND - Baker Jacobsen</title>
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="textCenter">
        <h1>404</h1>
        <h2>Not found</h2>
        <p>Baker Jacobsen</p>
        <a class="footerLink" href="/">Til hjemmeside</a>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>