<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">

    <title>404 NOT FOUND - Baker Jacobsen</title>
</head>
<body>
    <header>
        <!-- navbar -->
        <nav id="nav" class="navFixed">
            <a href="/"><h2 aria-hidden="true" class="title textShadow">Baker Jacobsen</h2></a>
            
            <a class="buttonAnchor" href="/products"><button aria-hidden="true" class="navButton">Produkter</button></a>
    
            <a class="buttonAnchor" href="/login"><button aria-hidden="true" class="navButton">Logg Inn</button></a>
    
            <a class="buttonAnchor" href="/cart"><img class="cartImg" src="/img/cartIcon.png" alt=""><div class="cartNotification">9</div></a>
    
            <label class="searchLabel" for="search">Søk:</label>
            <input type="text" name="search" id="search">
    
            <p></p>
        </nav>
        <div class="navPlaceholder"></div>
    </header>    <div class="textCenter">
        <h1>404</h1>
        <h2>Not found</h2>
        <p>Baker Jacobsen</p>
        <a class="footerLink" href="/">Til hjemmeside</a>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>