<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Søkeresultat - Baker Jacobsen</title>
</head>
<body>
    <%- include("./partials/nav.ejs") %>


    <main class="cartMain">
        <section id="cartTitleSection">
            <h2 class="title textShadow">Din Handlevogn</h2>
        </section>
        <section id="cartSection">
            <button class="altCardScrollBtn">↓ Til Betaling ↓</button>
            <div class="altCard">
                <div class="leftCardCol cardCol">
                    <h3 class="textShadow altCardTitle">Produkt</h3>
                    <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, hic.</p>
                </div>
                <div class="rightCardCol cardCol">
                    <img class="altCardImg" src="/img/productimg/japanese-knife.jpg" alt="">
                    <div class="altCardPriceDiv">
                        <button>Remove</button>
                        <p>100,-</p>
                    </div>
                </div>
            </div>
            <div class="altCard">
                <div class="leftCardCol cardCol">
                    <h3 class="textShadow altCardTitle">Produkt</h3>
                    <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, hic.</p>
                </div>
                <div class="rightCardCol cardCol">
                    <img class="altCardImg" src="/img/productimg/japanese-knife.jpg" alt="">
                    <div class="altCardPriceDiv">
                        <button>Remove</button>
                        <p>100,-</p>
                    </div>
                </div>
            </div>
            <div class="checkout">
                <h4 class="checkoutPrice">Total Sum: 200kr,-</h4>
                <button>Kjøp og Betal</button>
            </div>
        </section>
    </main>

    <%- include("./partials/footer.ejs") %>


</body>
</html>