<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
    <script src="../public/js/index.js" defer></script>

    <!-- styles -->
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/styles.css">

    <!-- script -->
    <script src="../public/js/navbar.js" defer></script>

    <title>Hjemmeside - Baker Jacobsen</title>
</head>
<body>
    <header>
        <!-- banner -->
        <div id="banner">
            <h2 class="bannerText">Velkommen til</p>
            <h1 class="bannerText">Baker Jacobsen</h1>
        </div>
        <!-- navbar -->
        <nav id="nav">
            <a href="../public/index.html"><h2 aria-hidden="true" class="title textShadow">Baker Jacobsen</h2></a>
            
            <a class="buttonAnchor" href="../public/html/products.html"><button aria-hidden="true" class="navButton">Produkter</button></a>

            <a class="buttonAnchor" href="../public/html/login.html"><button aria-hidden="true" class="navButton">Logg Inn</button></a>

            <a class="buttonAnchor" href="../public/html/cart.html"><img class="cartImg" src="../public/img/cartIcon.png" alt=""><div class="cartMainpageBanner cartNotification">9</div></a>

            <label class="searchLabel" for="search">Søk:</label>
            <input type="text" name="search" id="search">
        </nav>
        <div class="navPlaceholder hide"></div>
    </header>
    
    <main class="main textCenter">
        <!-- Introduction Section (website tagline) -->
        <section id="intro">
            <h3 class="title textShadow">Velkommen! her finner du de beste varene og utstyret til å bake!</h3>
            <p class="paragraph">Shopper du hos oss finner du kvalitetsprodukter verdt pengene, og en stor variasjon av oppskrifter til smakfulle bakevarer og matretter.</p>
        </section>
        <!-- Products preview section (shows the 8 most popular products) -->
        <section id="productsPreview">
            <div class="productCard">
                <h4 class="textShadow">Japansk Kniv</h4>
                <img class="cardImg" src="../public/img/productImg/japanese-knife.jpg" alt="">
                <p class="cardText">Denne kniven har blitt nøye laget av proffesjonelle Japanske knivsmier, og har blit testet og kåret Japans skarpeste kniv.</p>
                <button class="cardBtn">Legg i Handlekurv</button>
            </div>
            <div class="productCard">
                <h4 class="textShadow">Japansk Kniv</h4>
                <img class="cardImg" src="../public/img/productImg/japanese-knife.jpg" alt="">
                <p class="cardText">Denne kniven har blitt nøye laget av proffesjonelle Japanske knivsmier, og har blit testet og kåret Japans skarpeste kniv.</p>
                <button class="cardBtn">Legg i Handlekurv</button>
            </div>
            <div class="productCard">
                <h4 class="textShadow">Japansk Kniv</h4>
                <img class="cardImg" src="../public/img/productImg/japanese-knife.jpg" alt="">
                <p class="cardText">Denne kniven har blitt nøye laget av proffesjonelle Japanske knivsmier, og har blit testet og kåret Japans skarpeste kniv.</p>
                <button class="cardBtn">Legg i Handlekurv</button>
            </div>
            <div class="productCard">
                <h4 class="textShadow">Japansk Kniv</h4>
                <img class="cardImg" src="../public/img/productImg/japanese-knife.jpg" alt="">
                <p class="cardText">Denne kniven har blitt nøye laget av proffesjonelle Japanske knivsmier, og har blit testet og kåret Japans skarpeste kniv.</p>
                <button class="cardBtn">Legg i Handlekurv</button>
            </div>
            <div class="productCard">
                <h4 class="textShadow">Japansk Kniv</h4>
                <img class="cardImg" src="../public/img/productImg/japanese-knife.jpg" alt="">
                <p class="cardText">Denne kniven har blitt nøye laget av proffesjonelle Japanske knivsmier, og har blit testet og kåret Japans skarpeste kniv.</p>
                <button class="cardBtn">Legg i Handlekurv</button>
            </div>
            <div class="productCard">
                <h4 class="textShadow">Japansk Kniv</h4>
                <img class="cardImg" src="../public/img/productImg/japanese-knife.jpg" alt="">
                <p class="cardText">Denne kniven har blitt nøye laget av proffesjonelle Japanske knivsmier, og har blit testet og kåret Japans skarpeste kniv.</p>
                <button class="cardBtn">Legg i Handlekurv</button>
            </div>
            <div class="productCard">
                <h4 class="textShadow">Japansk Kniv</h4>
                <img class="cardImg" src="../public/img/productImg/japanese-knife.jpg" alt="">
                <p class="cardText">Denne kniven har blitt nøye laget av proffesjonelle Japanske knivsmier, og har blit testet og kåret Japans skarpeste kniv.</p>
                <button class="cardBtn">Legg i Handlekurv</button>
            </div>
            <div class="productCard">
                <h4 class="textShadow">Japansk Kniv</h4>
                <img class="cardImg" src="../public/img/productImg/japanese-knife.jpg" alt="">
                <p class="cardText">Denne kniven har blitt nøye laget av proffesjonelle Japanske knivsmier, og har blit testet og kåret Japans skarpeste kniv.</p>
                <button class="cardBtn">Legg i Handlekurv</button>
            </div>
        </section>
    </main>
    <!-- footer -->
    <footer>
        <div id="footer">
            <h3 class="title textShadow">Om oss</h3>
            <p class="paragraph">Vi hos Baker Jacobsen jobber med å lage de beste utvalgene av produkter for baking mulig. Her finner du alt fra oppskrifter til kjøkkenutstyr, med gode priser til hvert produkt.</p>
            <p class="paragraph">6666 6666 6666 MVA</p>
            <p class="paragraph">Epost:   aksel4455@gmail.com</p>
            <p class="paragraph">Telefon: 123 44 321</p>
            <p class="paragraph">Github:  <a class="footerLink" href="https://github.com/Akselja?tab=repositories">github.com/Akselja</a></p>
        </div>
    </footer>
</body>
</html>