<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- script -->
    <script src="/js/navbar.js" defer></script>

    <title><%= title %></title>
</head>
<body>
    <header>
        <!-- banner -->
        <div id="banner">
            <h2 class="bannerText">Velkommen til</p>
            <h1 class="bannerText">Baker Jacobsen</h1>
        </div>
        <!-- navbar -->
        <nav id="nav">
            <a href="/"><h2 aria-hidden="true" class="title textShadow">Baker Jacobsen</h2></a>
            
            <a class="buttonAnchor" href="products"><button aria-hidden="true" class="navButton">Produkter</button></a>

            <a class="buttonAnchor" href="login"><button aria-hidden="true" class="navButton">Logg Inn</button></a>

            <a class="buttonAnchor" href="cart"><img class="cartImg" src="/img/cartIcon.png" alt=""><div class="cartMainpageBanner cartNotification">9</div></a>

            <label class="searchLabel" for="search">Søk:</label>
            <input type="text" name="search" id="search">
        </nav>
        <div class="navPlaceholder hide"></div>
    </header>
    
    <main class="main textCenter">
        <!-- Introduction Section (website tagline) -->
        <section id="intro">
            <h3 class="title textShadow">Velkommen! her finner du de beste varene og utstyret til å bake!</h3>
            <p class="paragraph">Shopper du hos oss finner du kvalitetsprodukter verdt pengene, og en stor variasjon av oppskrifter til smakfulle bakevarer og matretter.</p>
        </section>
        <!-- Products preview section (shows the 8 most popular products) -->
        <section id="productsPreview">
            <div class="productCard">
                <h4 class="textShadow">Japansk Kniv</h4>
                <img class="cardImg" src="/img/productImg/japanese-knife.jpg" alt="">
                <p class="cardText">Denne kniven har blitt nøye laget av proffesjonelle Japanske knivsmier, og har blit testet og kåret Japans skarpeste kniv.</p>
                <button class="cardBtn">Legg i Handlekurv</button>
            </div>
            <div class="productCard">
                <h4 class="textShadow">Japansk Kniv</h4>
                <img class="cardImg" src="/img/productImg/japanese-knife.jpg" alt="">
                <p class="cardText">Denne kniven har blitt nøye laget av proffesjonelle Japanske knivsmier, og har blit testet og kåret Japans skarpeste kniv.</p>
                <button class="cardBtn">Legg i Handlekurv</button>
            </div>
            <div class="productCard">
                <h4 class="textShadow">Japansk Kniv</h4>
                <img class="cardImg" src="/img/productImg/japanese-knife.jpg" alt="">
                <p class="cardText">Denne kniven har blitt nøye laget av proffesjonelle Japanske knivsmier, og har blit testet og kåret Japans skarpeste kniv.</p>
                <button class="cardBtn">Legg i Handlekurv</button>
            </div>
            <div class="productCard">
                <h4 class="textShadow">Japansk Kniv</h4>
                <img class="cardImg" src="/img/productImg/japanese-knife.jpg" alt="">
                <p class="cardText">Denne kniven har blitt nøye laget av proffesjonelle Japanske knivsmier, og har blit testet og kåret Japans skarpeste kniv.</p>
                <button class="cardBtn">Legg i Handlekurv</button>
            </div>
            <div class="productCard">
                <h4 class="textShadow">Japansk Kniv</h4>
                <img class="cardImg" src="/img/productImg/japanese-knife.jpg" alt="">
                <p class="cardText">Denne kniven har blitt nøye laget av proffesjonelle Japanske knivsmier, og har blit testet og kåret Japans skarpeste kniv.</p>
                <button class="cardBtn">Legg i Handlekurv</button>
            </div>
            <div class="productCard">
                <h4 class="textShadow">Japansk Kniv</h4>
                <img class="cardImg" src="/img/productImg/japanese-knife.jpg" alt="">
                <p class="cardText">Denne kniven har blitt nøye laget av proffesjonelle Japanske knivsmier, og har blit testet og kåret Japans skarpeste kniv.</p>
                <button class="cardBtn">Legg i Handlekurv</button>
            </div>
            <div class="productCard">
                <h4 class="textShadow">Japansk Kniv</h4>
                <img class="cardImg" src="/img/productImg/japanese-knife.jpg" alt="">
                <p class="cardText">Denne kniven har blitt nøye laget av proffesjonelle Japanske knivsmier, og har blit testet og kåret Japans skarpeste kniv.</p>
                <button class="cardBtn">Legg i Handlekurv</button>
            </div>
            <div class="productCard">
                <h4 class="textShadow">Japansk Kniv</h4>
                <img class="cardImg" src="/img/productImg/japanese-knife.jpg" alt="">
                <p class="cardText">Denne kniven har blitt nøye laget av proffesjonelle Japanske knivsmier, og har blit testet og kåret Japans skarpeste kniv.</p>
                <button class="cardBtn">Legg i Handlekurv</button>
            </div>
        </section>
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>