<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- scripts -->
    <script src="/js/productsPage.js" defer></script>

    <title>Produkter - Baker Jacobsen</title>
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    
    <main class="main">
        <!-- intro section (title) -->
        <section id="intro" class="productsIntro">
            <h2 class="title textShadow">Produkter</h2>
            <p class="paragraph">Bla gjennom produkter</p>
        </section>
        <!-- products section (dropdowns for sections, four in total) -->
        <section id="products">
            <button class="productDropdown dropdownSelected"><p class="dropdownArrow arrowAnimated">></p> Kjøkkenutstyr</button>
            <div class="productSection prodSectionSelected">
                <div class="productCard">
                    <h4 class="textShadow"></h4>
                    <img class="cardImg" src="/img/productImg/japanese-knife.jpg" alt="">
                    <p class="cardText"></p>
                    <button class="cardBtn">Legg i Handlekurv</button>
                </div>
                <div class="productCard">
                    <h4 class="textShadow"></h4>
                    <img class="cardImg" src="/img/productImg/japanese-knife.jpg" alt="">
                    <p class="cardText"></p>
                    <button class="cardBtn">Legg i Handlekurv</button>
                </div>
                <div class="productCard">
                    <h4 class="textShadow"></h4>
                    <img class="cardImg" src="/img/productImg/japanese-knife.jpg" alt="">
                    <p class="cardText"></p>
                    <button class="cardBtn">Legg i Handlekurv</button>
                </div>
                <div class="productCard">
                    <h4 class="textShadow"></h4>
                    <img class="cardImg" src="/img/productImg/japanese-knife.jpg" alt="">
                    <p class="cardText"></p>
                    <button class="cardBtn">Legg i Handlekurv</button>
                </div>
                <div class="productCard">
                    <h4 class="textShadow"></h4>
                    <img class="cardImg" src="/img/productImg/japanese-knife.jpg" alt="">
                    <p class="cardText"></p>
                    <button class="cardBtn">Legg i Handlekurv</button>
                </div>
                <div class="productCard">
                    <h4 class="textShadow"></h4>
                    <img class="cardImg" src="/img/productImg/japanese-knife.jpg" alt="">
                    <p class="cardText"></p>
                    <button class="cardBtn">Legg i Handlekurv</button>
                </div>
                <div class="productCard">
                    <h4 class="textShadow"></h4>
                    <img class="cardImg" src="/img/productImg/japanese-knife.jpg" alt="">
                    <p class="cardText"></p>
                    <button class="cardBtn">Legg i Handlekurv</button>
                </div>
                <div class="productCard">
                    <h4 class="textShadow"></h4>
                    <img class="cardImg" src="/img/productImg/japanese-knife.jpg" alt="">
                    <p class="cardText"></p>
                    <button class="cardBtn">Legg i Handlekurv</button>
                </div>
            </div>
            <button class="productDropdown"><p class="dropdownArrow">></p> Ingredienser</button>
            <div class="productSection">
                
            </div>
            <button class="productDropdown"><p class="dropdownArrow">></p> Oppskrifter</button>
            <div class="productSection">

            </div>
            <button class="productDropdown"><p class="dropdownArrow">></p> Ferdigvarer</button>
            <div class="productSection">

            </div>
        </section>
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>