<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Søkeresultat - Baker Jacobsen</title>
</head>
<body>
    <%- include("./partials/nav.ejs") %>

    <main class="main">
        <section id="intro" class="searchIntro">
            <h2 class="title textShadow">Søkeresultater for: Kniv</h2>
        </section>
        <section id="searchResults">
            <div class="productCard">
                <h4 class="textShadow">Japansk Kniv</h4>
                <img class="cardImg" src="/img/productImg/japanese-knife.jpg" alt="">
                <p class="cardText">Denne kniven har blitt nøye laget av proffesjonelle Japanske knivsmier, og har blit testet og kåret Japans skarpeste kniv.</p>
                <button class="cardBtn">Legg i Handlekurv</button>
            </div>
            <div class="productCard">
                <h4 class="textShadow">Japansk Kniv</h4>
                <img class="cardImg" src="/img/productImg/japanese-knife.jpg" alt="">
                <p class="cardText">Denne kniven har blitt nøye laget av proffesjonelle Japanske knivsmier, og har blit testet og kåret Japans skarpeste kniv.</p>
                <button class="cardBtn">Legg i Handlekurv</button>
            </div>
            <div class="productCard">
                <h4 class="textShadow">Japansk Kniv</h4>
                <img class="cardImg" src="/img/productImg/japanese-knife.jpg" alt="">
                <p class="cardText">Denne kniven har blitt nøye laget av proffesjonelle Japanske knivsmier, og har blit testet og kåret Japans skarpeste kniv.</p>
                <button class="cardBtn">Legg i Handlekurv</button>
            </div>
            <div class="productCard">
                <h4 class="textShadow">Japansk Kniv</h4>
                <img class="cardImg" src="/img/productImg/japanese-knife.jpg" alt="">
                <p class="cardText">Denne kniven har blitt nøye laget av proffesjonelle Japanske knivsmier, og har blit testet og kåret Japans skarpeste kniv.</p>
                <button class="cardBtn">Legg i Handlekurv</button>
            </div>
            <div class="productCard">
                <h4 class="textShadow">Japansk Kniv</h4>
                <img class="cardImg" src="/img/productImg/japanese-knife.jpg" alt="">
                <p class="cardText">Denne kniven har blitt nøye laget av proffesjonelle Japanske knivsmier, og har blit testet og kåret Japans skarpeste kniv.</p>
                <button class="cardBtn">Legg i Handlekurv</button>
            </div>
            <div class="productCard">
                <h4 class="textShadow">Japansk Kniv</h4>
                <img class="cardImg" src="/img/productImg/japanese-knife.jpg" alt="">
                <p class="cardText">Denne kniven har blitt nøye laget av proffesjonelle Japanske knivsmier, og har blit testet og kåret Japans skarpeste kniv.</p>
                <button class="cardBtn">Legg i Handlekurv</button>
            </div>
            <div class="productCard">
                <h4 class="textShadow">Japansk Kniv</h4>
                <img class="cardImg" src="/img/productImg/japanese-knife.jpg" alt="">
                <p class="cardText">Denne kniven har blitt nøye laget av proffesjonelle Japanske knivsmier, og har blit testet og kåret Japans skarpeste kniv.</p>
                <button class="cardBtn">Legg i Handlekurv</button>
            </div>
            <div class="productCard">
                <h4 class="textShadow">Japansk Kniv</h4>
                <img class="cardImg" src="/img/productImg/japanese-knife.jpg" alt="">
                <p class="cardText">Denne kniven har blitt nøye laget av proffesjonelle Japanske knivsmier, og har blit testet og kåret Japans skarpeste kniv.</p>
                <button class="cardBtn">Legg i Handlekurv</button>
            </div>
        </section>
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>